<a href="https://colab.research.google.com/github/channdankumar/-/blob/main/FirstProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st Program (Output)

In [2]:
print ("Hello World")

Hello World

Variable (Basic Types in Python - numbers(integers, floating, boolean, strings)

In [3]:
name = "chandan"
age = 24
print ("name")

name

In [6]:
name = "chandan"
age = 24
print (name)
print (age)

chandan
24

In [17]:
first_name = "chandan "
last_name = "yadav"
age = 24
is_adult = True
print(first_name + " " + last_name)
print(age)
print(is_adult)

chandan  yadav
24
True

Strings

In [23]:
name = "chandan"
print(name.upper())

CHANDAN

In [24]:
name = "chandan"
print(name.lower())

chandan

Find Operation

In [46]:
name = "Chandan Kumar "
print (name.find('K'))

8

Replace

In [30]:
name = "Chandan Kumar "
print (name.replace("Chandan Kumar", "Chandan Yadav"))

Chandan Yadav

Keyword

In [56]:
name = "Chandan Kumar"
print("C" in name)

True

Arithmatic Operation

In [33]:
print (5+2)

7

In [34]:
print (5-2)

3

In [57]:
print(5/2)

2.5

In [58]:
print(5//2)

2

In [59]:
print(5%2) #modulo

1

In [60]:
print(5**2) # squere root

25

Concatinate

In [41]:
fname = input("What is your name ")
lname = input("What is your name ")
age = input("What is your age ")
location = input("What is your location ")
print("I am "+fname+" "+lname+". My age is "+age+". Location= "+location)

What is your name Chandan
What is your name Kumar
What is your age 24
What is your location Muzaffarfur , Bihar
I am Chandan Kumar. My age is 24. Location= Muzaffarfur , Bihar

In [48]:
room = input("Room Colour")
elements = input("Features of Room")
print("The colour of my room is "+room+". "+"The basic features - "+elements)

Room ColourPink
Features of RoomTables, Fans
The colour of my room is Pink. The basic features - Tables, Fans

In [52]:
product = input("Best Product")
uses = input("uses of Product")
print("The best Product is "+product+". "+"For the uses of - "+uses )

Best ProductZofer
uses of ProductVomiting
The best Product is Zofer. For the uses of - Vomiting

In [53]:
first = input("enter first number : ")
second = input("enter second name : ")
sum = (first) + (second)
print(sum)

enter first number : 4
enter second name : 5
45

In [54]:
first = input("enter first number : ")
second = input("enter second name : ")
sum = int(first) + int(second)
print(sum)

enter first number : 4
enter second name : 5
9

Operator Precedence

In [1]:
result = 3+3*5
print(result)

18

In [64]:
result = (2+3)*5
print(result)

25

Comments (#)

In [65]:
 # here is a comment

Comparsion Operators

In [66]:
print(3>2)

True

In [68]:
print(3<=2)

False

In [69]:
print(3==2)

False

Logical Operators (3 types of operators)

In [70]:
print(2>3 or 2>1)

True

In [71]:
print(3>2 and 2>1)

True

In [73]:
print(not 3>2)

False

if - else Statement  ( use of Conditions)

In [74]:
age = 19
if age >=18:
  print("you are an adult")
  print("you can vote")

you are an adult
you can vote

In [84]:
age = 16

if age >= 18:
    print("You are an adult")
    print("You can vote")
elif age < 18 and age > 3:
    print("You are in school")
else:
    print("You are a child")

You are in school

Mini Calculator

In [7]:
first = input("Enter first number: ")
operator = input("Enter operator (+, -, *, /, %): ")
second = input("Enter second number: ")

first = int(first)
second = int(second)

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    if second != 0:  # Check for division by zero
        print(first / second)
    else:
        print("Division by zero is not allowed")
elif operator == "%":
    print(first % second)
else:
    print("Invalid operator. Please use +, -, *, /, or %")

Enter first number: 5
Enter operator (+, -, *, /, %): +
Enter second number: 4
9

Range

In [1]:
numbers = range(5)
print(numbers)

range(0, 5)

While loops

In [2]:
i = 1
while i <= 5:
  print(i)
  i = i + 1

1
2
3
4
5

In [3]:
i = 1
while i <= 100:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
i = 1
while i <= 5:
  print(i * "*")
  i = i + 1

*
**
***
****
*****

In [5]:
i = 5
while i >= 0:
  print(i * "*")
  i = i - 1

*****
****
***
**
*

For Loops

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for item in range (5) :
    print(item + 1)

1
2
3
4
5

List

In [11]:
marks = [96,98,97]
print(marks)

[96, 98, 97]

In [1]:
marks = [98,95,97]
for score in marks:
  print(score)

98
95
97

In [2]:
marks = [98,95,97]
marks.append(99)
print(marks)

[98, 95, 97, 99]

In [3]:
marks = [98,95,97]
marks.append(99)
print(marks)

[99, 98, 95, 97]

In [4]:
marks = [98,95,97]
marks.append(99)
print(98 in marks)

True

In [5]:
marks = [98,95,97]
marks.append(99)
print(93 in marks)

False

Break & Continue

In [26]:
students = ["Chandan", "Dev", "Harsh", "Rahul", "Gaurav"]

for student in students:
  if student == "Rahul":
    print(student)
    break

Rahul

In [24]:
students = ["Chandan", "Dev", "Harsh", "Rahul", "Gaurav"]

for student in students:
  if student == "Harsh":
    continue
  print(student)

Chandan
Dev
Rahul
Gaurav

Tuple

In [27]:
marks = (98,97,96)
print(marks.count(98))

1

In [28]:
marks = (98,97,96,96,96,96)
print(marks.count(96))

4

Set

In [36]:
marks = {98,97,96,97,97}

for score in marks:
      print (score)

96
97
98

Dictionary

In [37]:
marks = {"engkish": 98, "hindi" : 97}
print(marks["engkish"])

98